/* @import "components/*"; */
/* TODO: webpack include scss?? */
/* TODO: add reset file */

* {
  font-family: 'Indie Flower', cursive;
}

li {
  list-style: none;
}
i {
  color: black;
  margin: 10px;
}

li:hover {
  transform: scale(1.1);
  transition: all .3s ease;
}

a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: 700;
}

p {
  text-align: center;
}

a:hover {
  color: white;
}
.contact-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

body {
  width: 100%;
  background: linear-gradient(to bottom right, #fff 0%, #27e1ec 100%) no-repeat center fixed;
  background-size: cover;
}

canvas {
  display: block;
  border-radius: 7px;
  margin: 0 25px;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}

.game-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.player-score {
  margin: 40px 0;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

button {
  display: block;
  width: 150px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  padding: 9px;
}

button:hover {
  transform: scale(1.05);
  font-weight: 700;
  transition: all .3s ease;
}

h1 {
  text-align: center;
  font-size: 54px;
  font-weight: 700;
}
