/* @import "components/*"; */
/* TODO: webpack include scss?? */
/* TODO: add reset file */

* {
  font-family: 'Indie Flower', cursive;
}
body {
  width: 100%;
  background: linear-gradient(to bottom right, #fff 0%, #27e1ec 100%) no-repeat center fixed;
  background-size: cover;
}

canvas {
  width: 400px;
  height: 400px;
  display: block;
  border-radius: 7px;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}

.game-controls {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.player-score {
  margin: 40px 0;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

button {
  display: block;
  width: 150px;
  font-size: 20px;
}

h1 {
  text-align: center;
  font-size: 54px;
  font-weight: 700;
}
